body {
  margin: 0px;
}
p {
  font-size: 13px;
  color: black;
}
b {
  color: black;
}

/*BANNER*/
.banner {
  position: relative;
  height: 200px;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-title {
  position: absolute;
  text-align: center;
  font-size: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.profession {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 10px;
}

/* NAVBAR */
nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

nav a:hover {
  background-color: aquamarine;
  color: rgb(20, 16, 16);
}
nav a:active {
  background-color: #04aa6d;
  color: white;
}

a {
  height: 25px;
  float: left;
  color: rgba(86, 84, 84, 0.792);
  align-content: center;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 10px;
}
i {
  color: rgb(85, 132, 240);
}

/* Thông tin cá nhân */

.thongtincanhan {
  margin-top: 10px;
  display: grid;
  column-gap: 20px;
  grid-template-columns: 50% 50%;
  text-align: left;
  line-height: 1.5;
  background-color: rgb(239, 237, 237);
}

.thongtin1 {
  padding: 30px 30px;
  font-size: 13px;
}

.thongtin2 {
  background-color: rgb(224, 224, 224);
  padding: 30px 20px;
  font-size: 13px;
}

.icon {
  padding-top: 10px;
}

/* THONG TIN NGHE NGHIEP*/

.column {
  color: black;
}
li {
  color: blue;
}
/* CSS Thông tin nghề nghiệp*/
.thongtinnghenghiep {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px;
  padding: 30px 50px;
  gap: 20px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  padding-right: 10px;
}
.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}
.item-2 {
  grid-column: 3 / span 1;
  grid-row: 1 / span 3;
  font-size: 30px;
}
.item-3 {
  grid-row: 2 / span 1;
}
